# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Build output
/target/
/build/

# Spring Boot specific
*.log
*.tmp
*.bak
*.swp

# Maven / Gradle
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle Wrapper
.gradle/
build/

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp

# Others
*.class
*.jar
*.war
*.ear
