<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.name}">Project Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="${project.name}">Project Name</h1>
<p th:text="'Description: ' + ${project.description}">Description here</p>
<p th:text="'Budget: $' + ${project.budget}">Budget here</p>
<p th:text="'Start Date: ' + ${project.startDate}">Start Date</p>
<p th:text="'End Date: ' + ${project.endDate}">End Date</p>
<p th:if="${project.createdBy != null}"
   th:text="'Created by user id: ' + ${project.createdBy.userId}"></p>

<p th:if="${project.createdBy == null}">Created by: Unknown</p>
</body>
</html>